<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title ? title : 'Error' %> | Barter Trading
    </title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Navigation -->
    <%- include('partials/navbar') %>

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card-panel red lighten-4">
                        <h4>
                            <%= locals.title ? title : 'Error' %>
                        </h4>
                        <p>
                            <%= locals.msg ? msg : 'An error occurred' %>
                        </p>
                        <% if (locals.error && process.env.NODE_ENV==='development' ) { %>
                            <pre><%= error.stack %></pre>
                            <% } %>
                    </div>
                    <a href="javascript:history.back()" class="btn waves-effect waves-light">
                        <i class="material-icons left">arrow_back</i>
                        Go Back
                    </a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include('partials/footer') %>

            <!-- Materialize JS -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>